<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="index-main">
      <div class="container py-lg-10 border-top">
        <div class="banner">
          <div class="row">
            <div class="col-lg-12">
             <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-banner.png?raw=true" alt="about-banner" class="w-100">
            </div>
          </div>
         </div>

       <div class="category py-lg-10">
        <h5>熱門標題</h5>
      
          <div class="row">
            <div class="col-lg-3">
              <box><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt="" ></box>
            </div>
            <div class="col-lg-3">
              <box><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="" alt=""></box>
            </div>
            <div class="col-lg-3">
              <box><img src="" alt=""></box>
            </div>
        
          </div>

       
       </div>



      </div>


    </main>

    


    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
