<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="index-main">
      <div class="container py-lg-10 border-top">
        <div class="banner">
          <div class="row">
            <div class="col-lg-12">
             <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-banner.png?raw=true" alt="about-banner" class="w-100">
            </div>
          </div>
         </div>

    <!--品牌介紹-->
       <div class="middle py-7 py-lg-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-gray-400" href="#">首頁</a></li>
            <li class="breadcrumb-item active text-accent-200" aria-current="page">關於我們</li>
          </ol>
        </nav>
        <h5 class="fs-1 mt-2 mt-lg-4 ">關於我們</h5>
      <!--手機樣式-->
      <div class="d-lg-none">
        <div class="container mt-7">
          <div class="row gy-4">
            <div class="col-12">
              <div>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-1.png?raw=true" alt="vivre" class="w-100">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text px-4">
                <h5>Vivre</h5>
                <p>vivre 這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre 旨在成為一個分享美好生活體驗、發掘生活質感的平台。</p>
                <div>
                  <p>我們的品牌價值</p>
                  <ul>
                    <li>熱愛生活,好奇心永存</li>
                    <li>品味獨具,講究生活質感</li>
                    <li>分享真實生活,啟發生活靈感</li>
                    <li>推廣慢生活哲學,注重內在修為</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text px-4">
                <h5>風格特色</h5>
                <p>vivre 所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。</p>
                <p>無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!--電腦樣式--> 
      <div class="d-none d-lg-block">
        <div class="container mt-7">
          <div class="row gy-9">
            <div class="col-lg-6">
              <div>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-1.png?raw=true" alt="vivre" class="w-100">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text px-7">
                <h5>Vivre</h5>
                <p>vivre 這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre 旨在成為一個分享美好生活體驗、發掘生活質感的平台。</p>
                <div>
                  <p>我們的品牌價值</p>
                  <ul>
                    <li>熱愛生活,好奇心永存</li>
                    <li>品味獨具,講究生活質感</li>
                    <li>分享真實生活,啟發生活靈感</li>
                    <li>推廣慢生活哲學,注重內在修為</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text px-7">
                <h5>風格特色</h5>
                <p>vivre 所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。</p>
                <p>無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
        
       
      

       
       </div>
      </div>

    <!--品牌歷史--> 
      <div class="history bg-primary-200">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <h5>大事記</h5>
            </div>
            <div class="col-lg-8">
              <h6 class="d-inline bg-primary-400">2020</h6>
              <div class="month d-flex">
                <h6>5</h6>
                <p>創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre 生活部落格,紀錄分享他們對美好生活的想法和體驗。</p>
              </div>
              <div></div>


            </div>
          </div>


        </div>
      </div>


    </main>

    


    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
